body{
    background-image: url("Background.png");
    background-size: 1450px 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "East Sea Dokdo", cursive;
    font-weight: 800;
}


.container{
    background-color: rgba(247, 243, 242, 0.7);
   
    border: 10px solid white;
    border-radius: 20px;
}

#main-img{
    width: 250px;
    height:250px;
}
#user-input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
}

#user-ui{
    font-size: 2rem;
}
#user-ui2{
    font-size: 2rem;
}

#user-button{
    width: 100px;
    height: 50px;
    margin-bottom: 12px;
}

#button-reset{
    font-size: 2rem;
}

@media screen and (max-width:40rem) {
    #user-button{
        align-self: center;
        margin-top: 10px;
    }
}